In [99]:
#Name: Md.Abdullah-Al-Sajid Chowdhury
#ID: 190104020
#Group-A1

In [100]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn

In [101]:
import pandas as pd
from scipy.stats import zscore
from sklearn.model_selection import train_test_split

In [102]:
path='/content/drive/My Drive/WhiteWineQuality.csv'
df=pd.read_csv(path)
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [103]:
A = df.iloc[:, :-1].values
B = df.iloc[:, -1].values

In [104]:
X_train, X_test, y_train, y_test = train_test_split(A, B, test_size=0.1)

In [105]:
from numpy import mean
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression

In [106]:
ktemp = KFold(n_splits=10,random_state=None,shuffle=False)
ktemp

KFold(n_splits=10, random_state=None, shuffle=False)

In [107]:
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
import itertools

In [108]:
temp1 = GaussianNB()

In [109]:
temp2 = RandomForestClassifier(n_estimators=100)

In [110]:
print("Naive Bayes Cross Validation:")
cross_val_score(temp1, X_train, y_train, cv=ktemp)

Naive Bayes Cross Validation:

array([0.47619048, 0.44444444, 0.40136054, 0.41950113, 0.4739229 ,
       0.4829932 , 0.43537415, 0.43537415, 0.425     , 0.45681818])

In [111]:
print("Random Forest Cross Validation:")
cross_val_score(temp2, X_train, y_train, cv=ktemp)

Random Forest Cross Validation:

array([0.71201814, 0.66893424, 0.68707483, 0.6893424 , 0.6984127 ,
       0.70521542, 0.66666667, 0.69160998, 0.72045455, 0.69090909])

In [112]:
from sklearn.svm import SVC  
from sklearn.datasets import load_iris  
from sklearn.metrics import accuracy_score

In [113]:
temp1.fit(X_train, y_train)
y_pred = temp1.predict(X_test)
print("Naive Bayes Testing Accuracy:", accuracy_score(y_test, y_pred))

Naive Bayes Testing Accuracy: 0.42857142857142855

In [114]:
temp2.fit(X_train, y_train)
y_pred = temp2.predict(X_test)
print("Random Forest Testing Accuracy:", accuracy_score(y_test, y_pred))

Random Forest Testing Accuracy: 0.7020408163265306

In [98]:
#Decision:Naive Bayes(42.85%) has much worse accuracy than Random Forest Classifier(70.20%)